{% extends 'main.html' %}
{% block content %}
{% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
<div class="container">
    <div class="card card-body" style="border: 1px solid black; box-shadow: 0 0 10px black;">
        <h2>&nbsp&nbsp&nbsp&nbspMULTIPLE DISEASE IDENTIFICATION USING DEEP LEARNING</h2>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspEmpowering early disease detection with the power of deep learning.</p>
        <br>
        <h2>Guided by:</h2>
        <ul>
            <li>Dr. Rajib Debnath</li>
        </ul>
        <br>
        <h2>Team Members:</h2>
        <ul>
            <li>Nikitha Reddy <strong>2010030217</strong></li>
            <li>Sowgna Reddy <strong>2010030344</strong></li>
            <li>VidyaSri <strong>2010030534</strong></li>
            <li>Vaishnavi <strong>2010030537</strong></li>
        </ul>
        <br>   
    </div>
</div>
{% endblock %}